<!-- Bottom Alert Bar
================================================== -->
{{ if isset .Site.Params "hubspot" }}
<div class="alertbar">
	<div class="container text-center">
        <span>
            {{ if isset .Site.Params "logo" }}
                <img src="{{ .Site.Params.logo | urlize | relURL }}" alt="logo">
            {{ else }}
                <span style="font-family:Righteous;">{{.Site.Title}}</span>
            {{ end }}
            &nbsp; Never miss a <b>story</b>, subscribe to our newsletter
        </span>

	</div>
</div>
{{ end }}
