{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}




{{ define "main" }}


<div class="about-top-content container">
  <div><h2>About me</h2></div>
      <p><p>I am Mark Curphey. People in the security industry may recognize my name as the founder of <a href="">OWASP</a>, the Open Web Application Security Project in 2002. Over the last twenty years I have run MSDN (the Microsoft Developer Network), founded an application security company called <a href="https://www.sourceclear.com">SourceClear</a>, acquired by <a href="https://www.veracode.com">Veracode</a> and co-founded a data security company called <a href="https://www.openraven.com">Open Raven.</a></br></p>

      <p>In early 2022 I decided to focus on an emerging security area called supply chain security that has already caused havoc on the Internet and set to inflict would for years to come. I am currently helping the Linux Foundation develop tools for and improve awareness of <a href="https://spdx.dev/"SPDX></a> an international open standard  (ISO/IEC 5962:2021) for defining software bill of materials.</p>
      
      <p>This site contains articles, links to my public speaking and hosts a newsletter. </p>
</div>
<div class="contact-form contact-form-padding">
<div class="content"> 
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="row justify-content-center">

            <div class="col-md-6">
              <h3 class="heading mb-4">Contact me</h3>
              <p>Send me a message and I will usually get back to you within 48 hours.</p>

              <p><img src="man.png" alt="Image" class="img-fluid"></p>
            </div>
            <div class="col-md-6">
              
              <form class="mb-5" method="post" id="contactForm" name="contactForm">
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Your email">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Your message"></textarea>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-12">
                    <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                  </div>
                </div>
              </form>
              <div id="form-message-warning mt-4"></div> 
     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}


{{ define "footer"}}
    {{- partial "_shared/footer.html" . -}}
{{ end }}